<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConnSet" connectionString="server=studmysql01.fhict.local; database=dbi369697; user id=dbi369697; password=Ali_Alao1068; connect timeout=30" />
  </connectionStrings>
</configuration>